.formSection {

    &__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__input {
        margin: 0 5px;
    }
    &__button {
        padding: 5px 20px;
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
    }
}