.input{
    margin: 0 5px;
    &__field {
        padding-left: 5px;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-radius: 3px;
        border: 1px solid #333; 
    }
    &__message {
        margin-top: 2px;
        height: 20px;
    }
    &__text {
        color: tomato;
        margin: 0;
        font-size: 13px;
    }

}