.tableSection {
    
    &__table {
        margin: 20px auto;
    }
    &__button {
        padding: 5px 10px;
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
    }
}